*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.content-body {
  flex-grow: 1;
}
